.match-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #595e606c;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    padding: 16px;
    max-width: 400px; 
    width: 100%;
    margin-right: 16px; 
}

.match-card:last-child {
    margin-right: 0; 
}

.match-card-content {
    display: flex;
    flex-direction: column;
}

.game, .date, .type {
    margin-bottom: 8px;
}

.game {
    font-weight: bold;
}

.date, .type {
    color: #000000;
}

.play-link {
    position: absolute;
    text-decoration: none;
    color: black;
}

button.delete-match {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 5px;
}