.login-form-container {
    padding: 3vmin;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
}

.login-email {
    color: black;
}
.login-password {
    color: black;
}