.navbar {
    background-color: #282b345d; 
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-color: black;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
